docx2txt==0.8
PyPDF2
pyodbc==5.1.0
pypdf==4.3.1
python-dotenv
faiss-cpu
openai==1.38.0
langchain==0.2.12
langchain-community==0.2.11
langchain-core==0.2.29
langchain_experimental==0.0.64
langchain-openai==0.1.20
openapi-schema-pydantic==1.2.4
pandas==2.1.4
requests==2.32.3
streamlit==1.37.0
tenacity==8.5.0
tiktoken
azure-identity==1.17.1
azure-search-documents==11.6.0b4
streamlit-agraph==0.0.45
gremlinpython==3.7.2
azure-storage-blob==12.21.0
azure-cosmos==4.7.0
azure-ai-documentintelligence
azure-cognitiveservices-speech==1.38.0
opencv-python==4.10.0.84
moviepy==1.0.3
pillow
faker==26.1.0
mlflow 
databricks-sql-connector
